
.vs/KB/v15/.suo
.vs/KB/v15/Server/sqlite3/db.lock
.vs/KB/v15/Server/sqlite3/storage.ide
.vs/KB/v15/Server/sqlite3/storage.ide-shm
.vs/KB/v15/Server/sqlite3/storage.ide-wal
KB.Configuration/bin/Debug/KB.Configuration.dll
KB.Configuration/bin/Debug/KB.Configuration.pdb
KB.Configuration/bin/Debug/KB.Data.dll
KB.Configuration/bin/Debug/KB.Data.pdb
KB.Configuration/obj/Debug/KB.Configuration.csproj.CoreCompileInputs.cache
KB.Configuration/obj/Debug/KB.Configuration.csproj.FileListAbsolute.txt
KB.Configuration/obj/Debug/KB.Configuration.csprojAssemblyReference.cache
KB.Configuration/obj/Debug/KB.Configuration.dll
KB.Configuration/obj/Debug/KB.Configuration.pdb
KB.Data/bin/Debug/KB.Data.dll
KB.Data/bin/Debug/KB.Data.pdb
KB.Data/obj/Debug/KB.Data.csproj.CoreCompileInputs.cache
KB.Data/obj/Debug/KB.Data.csproj.FileListAbsolute.txt
KB.Data/obj/Debug/KB.Data.csprojAssemblyReference.cache
KB.Data/obj/Debug/KB.Data.dll
KB.Data/obj/Debug/KB.Data.pdb
KB.Process/bin/Debug/KB.Process.dll
KB.Process/obj/Debug/KB.Process.csproj.FileListAbsolute.txt
KB.Process/obj/Debug/KB.Process.csprojAssemblyReference.cache
KB.Process/obj/Debug/KB.Process.dll
KB.Utility/bin/Debug/KB.Utility.dll
KB.Utility/bin/Debug/KB.Utility.pdb
KB.Utility/obj/Debug/KB.Utility.csproj.FileListAbsolute.txt
KB.Utility/obj/Debug/KB.Utility.csprojAssemblyReference.cache
KB.Utility/obj/Debug/KB.Utility.dll
KB.Utility/obj/Debug/KB.Utility.pdb
KB/bin/Debug/KB.dll
KB/obj/Debug/KB.csproj.FileListAbsolute.txt
KB/obj/Debug/KB.dll
