
.vs/KB/v15
.vs/KB/v15/
KB.Configuration/bin/Debug
KB.Configuration/bin/Debug/
KB.Data/bin/Debug
KB.Data/bin/Debug/
KB.Process/bin/Debug
KB.Process/bin/Debug/
KB.Process/obj
KB.Process/obj/
KB.Utility/bin/Debug
KB.Utility/bin/Debug/
KB.Utility/obj
KB.Utility/obj/
KB/bin/Debug
KB/bin/Debug/
KB/obj
KB/obj/
KB.Configuration/obj
KB.Configuration/obj/
KB.Data/obj
KB.Data/obj/
